
{
  "name": "insurance-app-component",
  "version": "1.1.2",
  "description": "智慧医疗保险销售App通用组件",
  "author": "Haixing Hu <huhaixing@njzhyl.cn>",
  "license": "MIT",
  "main": "src/index.js",
  "scripts": {
    "dev": "vant-cli dev",
    "test": "vant-cli test",
    "lint": "vant-cli lint",
    "build": "vant-cli build",
    "release": "vant-cli release",
    "test:coverage": "open test/coverage/index.html",
    "build-site": "vant-cli build-site && gh-pages -d site"
  },
  "peerDependencies": {
    "js-common-filter": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-filter.git#master",
    "js-common-model": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-model.git#master",
    "js-common-util": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-util.git#master",
    "vant": "2.10.14",
    "vue": "^2.6.11",
    "vue-template-compiler": "^2.6.12"
  },
  "devDependencies": {
    "@vant/cli": "^2.0.0",
    "@vue/test-utils": "^1.1.0",
    "babel-eslint": "^10.1.0",
    "babel-plugin-import": "^1.13.0",
    "eslint-config-airbnb-base": "^14.2.0",
    "eslint-plugin-import": "^2.22.1",
    "eslint-plugin-vue": "^7.1.0",
    "js-common-filter": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-filter.git#master",
    "js-common-model": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-model.git#master",
    "js-common-util": "git+ssh://git@dev.njzhyl.cn:10022/njzhyl/js-common-util.git#master",
    "must": "^0.13.4",
    "vant": "2.10.14",
    "vue": "^2.6.11",
    "vue-loader": "^15.9.5",
    "vue-markdown-loader": "^2.4.1",
    "vue-template-compiler": "^2.6.12"
  },
  "stylelint": {
    "extends": [
      "@vant/stylelint-config"
    ]
  },
  "prettier": {
    "singleQuote": true
  },
  "browserslist": [
    "Android >= 4.0",
    "iOS >= 8"
  ],
  "dependencies": {
    "dayjs": "^1.9.6"
  }
}

#yarn
yarn.lock

# npm
node_modules
package-lock.json

# dist file
es
lib
site

# test
test/coverage
